@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

 body {
	text-align: center;	
	position: relative;
	font-family:'Old Standard TT', serif;
	font-size: 20px; /*1em=20px*/
	color: #222;
	line-height: 1.3;
	background-color: #FFE8E0;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px
	text-align: center;
	/*padding: 1.5em;
	margin: 1em;*/
}
section {
	padding:4em 0;
	margin-bottom:1em;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 6em;
	text-transform: uppercase;
	padding-bottom: .5em;
	margin: 0 1em 0 1em;
}

.navlinks {
	background-color: #E8C66A;
	color:#222;
	text-decoration: none;
	font-family:'Old Standard TT', serif;
	font-weight: 600;
	margin-right: 1.25em;
	letter-spacing: 0.25em;
}

p {
	/* padding: 2em; */
	width: 30em;
	margin: 2em auto 0;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: lighter;
	/* padding-top: 1em; */
}

h3 {
	font-size: 1.5em;
	padding: 1em;
}

ul {
	padding: .5em 1em;
	margin: 1em;
	font-size: 1.25em;
	/*background: #ffe6e6;*/
}

li {
	display: inline;
	padding: 0 0 0 0.5em;
	text-transform: uppercase;
}

hr {
	border: none;
	height: 0.25em;
	background-color: #222; 
	width: 8em;
	margin: 1em auto;
}

#slogan {
	background-color: #E89C6C;
	color:black;
	font-size: 2.5em;
	padding: 1em;
}

#introduction{
	background-color: #E89C6C;
}

#womenCoding {
	width: 60%;
}

#margaretHamilton{
	width: 20%;
}

#contact {
	background-color: #FF957E;
	font-size: 1em;
	padding: 2em;
}
#contact a {
	text-decoration:none;
}
#about {
	background-color: #FFE2B8;
}

#blog {
	background-color: #FFE2B8;
}
#girlCrush {
	background-color: #FFE2B8;
}

